parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$primer\.$#'
			identifier: property.notFound
			count: 1
			path: app/Console/Commands/SinkronkanLampiranKeDriveCommand.php

		-
			message: '#^Dead catch \- Illuminate\\Database\\QueryException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: app/Http/Controllers/KlasifikasiPrimerController.php

		-
			message: '#^Dead catch \- Illuminate\\Database\\QueryException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: app/Http/Controllers/KlasifikasiSekunderController.php

		-
			message: '#^Dead catch \- Illuminate\\Database\\QueryException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: app/Http/Controllers/KlasifikasiTersierController.php

		-
			message: '#^Using nullsafe property access "\?\-\>nama_lengkap" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/LaporanController.php

		-
			message: '#^Dead catch \- Illuminate\\Database\\QueryException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: app/Http/Controllers/SuratMasukController.php
